.post-list h3 {
    font-weight: thin;
}
.post-list small {
    font-size: medium;
}

.post-content h1 {
    font-size: 24px;
    font-weight: thin;
    border-style: none;
}

.post-content h2 {
    font-size: 20px;
    font-weight: thin;
    border-style: none;
}
